@import url('https://fonts.googleapis.com/css?family=Unica+One|Zilla+Slab');

/************************************
font-family: 'Unica One', cursive;
font-family: 'Zilla Slab', serif;
*************************************/

/*************************************
https://www.biographyonline.net/artists/top-10-painters.html 
*************************************/

h1{
    font-family: 'Unica One', cursive;
}

body {
    font-family: 'Zilla Slab', serif;
}

header {
    padding-left: 6vw;
}

#bigPic {
    width: 100%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

#home {
    text-align: center;
}

#quizPic {
    width: 50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}